.a-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    width: 100%;
}

.a-card {
    position: relative;
    background: #FFFFFF;
    border-top: 4px solid #58966A;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-align: center;
}

.a-initials {
    letter-spacing: 0.02em;
    color: #B38C0A;
    font-size: 1.7em;
    font-weight: bold;
    padding: 16px 14px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
    background: rgba(179, 140, 10, 0.2);
    border-radius: 100%;
    width: fit-content;
}

.a-card-name {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #232323;
    padding: 0px;
    margin: 0px;
}

.a-card-email{
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #707070;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}

.a-card-foot {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
}

.a-edit-btn {
    letter-spacing: 0.04em;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
    padding: 4px 12px;
    background: #427A52;
    border: 1.5px solid #427A52;
    border-radius: 3px;
}

.a-block-btn {
    letter-spacing: 0.04em;
    font-size: 0.8em;
    font-weight: bold;
    color: #427A52;
    padding: 4px 12px;
    border: 1.5px solid #427A52;
    border-radius: 3px;
}

.a-delete-btn {
    font-size: 2.1em;
    color: #B9B9B9;
    padding: 4px;
    background: #F7F6F6;
    border-radius: 3px;
    cursor: pointer;
}