.n-container {
    display: block;
    padding: 30px 50px 50px 50px;
    color: #131212;
    font-size: 1em;
    letter-spacing: 0.02em;
}

.n-headtext {
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 0px;
}

.n-bold {
    font-weight: 600;
}

.n-center {
    text-align: center;
}

.n-filterrow {
    margin-top: 40px;
    margin-bottom: 40px;
}

.n-box {
    text-align: center;
    margin-top: 40;
    padding: 80;
    background: #FFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.n-img {
    margin-bottom: 20px;
}

.n-primarybutton {
    text-align: center;
    padding: 7px 20px;
    margin-top: 20;
    font-size: 0.9em;
    color: #fff;
    background: #376444;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.n-primarybutton:hover {
    background-color: rgb(55, 100, 68, 0.95);
}

.body-row {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 250px auto;
    grid-gap: 30px;
    width: 100%;
}

.delete-body-row {
    padding: 0;
    margin: 0;
    width: 100%;
}

.leftside {
    width: 250px;
}

.previewComponent {
    position: relative;
    width: 250px;
    height: 300px;
    background: rgba(179, 140, 10, 0.08);
    border: 1.5px solid #B38C0A;
    border-radius: 3px;
    border-style: dashed;
}

.previewText {
    color: #232323;
}

.fileInput {
    width: 250px;
    height: 300px;
    z-index: 2;
    opacity: 0;
}

.imgPreview {
    position: absolute;
    top: 0;
    width: 246px;
    height: 296px;
    z-index: -1;
}

.imgPreview img {
    width: 246px;
    height: 296px;
    object-fit: cover;
    object-position: center center;
}

.viewImgPreview {
    width: 250px;
    height: 300px;
    border-radius: 3px;
    object-fit: cover;
    object-position: center center;
}

.tip {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #232323;
    font-size: 0.9em;
}

.rightside {
    display: block;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    text-align: right;
}

.type {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.link-btn {
    padding: 0px 20px;
    color: #111111;
    font-weight: bold;
    border: 1.5px solid #E0E0E0;
    background: none;
    border-radius: 100px;
    margin-left: 12px;
    cursor: pointer;
}
.link-btn:hover {
    outline:none !important;
    border: 1.5px solid #B38C0A;
}
.link-btn:focus {
    outline:none !important;
    background: rgba(179, 140, 10, 0.08);
    border: 1.5px solid #B38C0A;
    color: #B38C0A;
}

.inputgroup {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    width: 100%;
}

.a-p {
    color: #232323;
    font-weight: bold;
    text-align: left;
}

.input-field {
    width: 100%;
    background: #FBFBFB;
    border: 0.75px solid #BEBDBD;
    border-radius: 3px;
    padding: 13px 12px;
    font-size: 1em;
}

.input-field:focus {
    outline:none !important;
    border: 0.75px solid #BEBDBD !important;
    background: none;
}

.a-view-label {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    color: #727272;
    text-align: left;
}

.a-view-text {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #111111;
    text-align: left;
}

.a-view-initials-div {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    display: flex;
    text-align: left;
}

.a-view-initials {
    letter-spacing: 0.02em;
    color: #B38C0A;
    font-size: 0.85em;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    background: rgba(179, 140, 10, 0.2);
    border-radius: 100%;
}

.a-view-name {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    font-size: 1em;
}

.proceed-text {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1em;
}

.buttons {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-cancel {
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    background: none;
    color: #376444;
    letter-spacing: 0.04em;
    border: none;
    padding: 13px 0px;
}

.btn-post {
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    background: #376444;
    color: #fff;
    letter-spacing: 0.04em;
    border-radius: 3px;
    padding: 13px 50px;
    margin-left: 40px;
}

.info {
    text-align: center;
}

.check-img{
    width: 52px;
}

.p-text {
    color: #333333;
    font-weight: bold;
    font-size: 1.15em;
    margin-top: 30px;
    margin-bottom: 60px;
}

.a-cards {

}